.roverImage {
  max-width: 100%;
  display: block;
  border-radius: 8px;
  margin-bottom: 10px;
}

.photocontainer {
  display: inline-block;
}

.photodetails {
  text-align: center;
  margin-top: 5px;
}
